.cabeçalho {
    background-color:#4791A7;
    color: #52D3D8;
    display:flex;
    justify-content: space-around;
    }
    .cabeçalho-título {
        color:#3887BE;
    }
    
    .cabeçalho-lista{
        color: #38419D;
       }
    
    .cabeçalho-imagem{
        width: 20%;
    }
    